.appBar {
    background-color: #2d2e82 !important;
    color: white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 60px; /* Altura padrão para Mobile */
    width: auto;
    margin: 2rem 1rem;
    transition: all 0.3s ease-in-out; /* Mudei para 'all' para transicionar a altura também */
}

@media (min-width: 900px) {
    .logo {
        /* Aumentando a força da regra com !important */
        height: 100px !important; /* Mudei para 60px, 20px era muito pequeno. Ajuste como quiser! */
        width: auto !important;
        
        margin: 1rem 24rem;
    }
}